* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#msk {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}
#form {
    width: 90%;
    display: flex;
    max-width: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    color: #f5f6fa;
    background-color: #353b48;
}
#form input, #form span {
    padding: 0.5rem 0.25rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-bottom: 2px solid transparent;
    font-size: 1.5rem;
    background-color: transparent;
    color: #f5f6fa;
    text-align: center;
    transition: all 0.3s;
}
#form span {
    display: block;
    margin-bottom: 1.5rem;
}
#form input:focus {
    border-bottom-color: #fbc531 ;
}
#msk button {
    padding: 0.5rem 2rem;
    background-color: #fbc531;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
#msk button:hover {
    background-color: #f5f6fa;
}
.app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #273c75;
}
.container {
    width: 600px;
    height: 700px;
    position: relative;
}
#scoreboard {
    min-width: 20%;
    border: 1px solid red;
    align-self: flex-start;
    margin: 1rem;
    padding: 1rem;
    color: #F5F6FA;
    font-size: 1rem;
    background-color: #C23616;
    border-radius: 1rem;
}
#scoreboard h2, #form h2{
    width:90%;
    font-weight: normal;
    margin: 0 auto 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f5f6fa;
    text-align: center;
}
ol {
    list-style-position:inside;
}
li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
canvas {
    border: 1px solid black;
}
#canvas {
    border-radius: 1rem;
    overflow: hidden;
}
#canvas1 {
    width: 600px;
    height: 700px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red;
}